body, html{
  height:100%;
}
body{
  background-image: url("http://img1.wikia.nocookie.net/__cb20140208181945/despicableme/images/b/b7/Gru's_Lab_Minion_Mayhem_ride.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px;
  background-color:#444;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .button{
  padding:30px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid red;
  border-radius:10px;
  position:absolute;
}

.minion {
  border: none;
  background-image: url("images/minion.png");
  background-repeat: no-repeat;
  background-position: center;
  height: 100px;
  width: 100px;
  position:absolute;
}

.growing {
  border: none;
  height: 100px;
  width: 100px;
  background-color: green;
  position:absolute;
}